<ul style="display:inline;list-style-type:none">
    <li>@Html.ActionLink("Pharmacetique", "ListeMedicament", "Home")</li>
    <li>@Html.ActionLink("Parapharmacetique", "ListeMedicament", "Home")</li>
    <li>@Html.ActionLink("sous-categorie", "ListeMedicament", "Home")</li>
    <li>@Html.ActionLink("Recherche", "ListeMedicament", "Home") @Html.TextBox("recherche")</li>
</ul>