  
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PharmaWeb</title>
</head>
<body>
    @Html.Partial("~/Views/Home/_Header.cshtml")
    @Html.Partial("~/Views/Home/_Menu.cshtml")

                <label>image</label>
                <table>
                    @foreach (MvcApplication3.Models.Produit produits in ViewData["Produits"] as List<MvcApplication3.Models.Produit>)
                {


                        <tr>
                            <td>@produits.Nom</td>
                            <td>@produits.Stock</td>



                        </tr>
                }
                </table>
                <input type="button" value="Ajout au panier" onclick="location.href='@Url.Action("DetailMedicament", "Home")'" /><br />
             
            </div>
        
    </div>
</body>
</html>