<ul style="list-style-type:none">
    <li style="display:inline-block">@Html.ActionLink("Pharmacetique", "ListeMedicament", "Client")</li>
    <li style="display:inline-block">@Html.ActionLink("Parapharmacetique", "ListeMedicament", "Client")</li>
    <li style="display:inline-block">@Html.ActionLink("sous-categorie", "ListeMedicament", "Client")</li>
    <li style="display:inline-block">@Html.ActionLink("Recherche", "ListeMedicament", "Client") @Html.TextBox("recherche")</li>
</ul>