@{
    
         

    if (IsPost)
    {
        var errors = false;
        
        var Nom = Request["Nom"];
        var Mail= Request["Mail"];
        var Prenom = Request["Prenom"];
        var Adresse = Request["Adresse"];
        var Telephone = Request["Telephone"];
        var Email = Request["Email"];
        var MDP = Request["MDP"];
        var CMDP= Request["CMDP"];
        var CP = Request ["CP"];
        var Secu = Request ["Secu"];
        var Mutu = Request["Mutu"];

        ViewData["Nom"] = Request["Nom"];
        
          <div>
        Hello <span style="color:red">@ViewData["Nom"]</span>
    </div>
        
        if (Nom.IsEmpty())
        {
            errors = true;
            @:Le nom du client est obligatoire.<br />
            }
    
        if (Prenom.IsEmpty())
        {
            errors = true;
            @:Le prénom du client est obligatoire.<br />
            }
       
        if (Email.IsEmpty())
        {
            errors = true;
            @:L'adresse mail du client est obligatoire.<br />
        }
          
        if (Secu.IsEmpty())
        {
            errors = true;
            @:Le numéro de sécurité social est obligatoire.<br />
        }

        if (errors == false)
        {
            //action à effectuer
            Response.Redirect(@Href("~/Client/Inscription"));
        }

    }

    
   
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PharmaWeb</title>
</head>
<body>
    @Html.Partial("~/Views/Shared/_HeaderOffline.cshtml")
    @Html.Partial("~/Views/Client/_Menu.cshtml")
    <div>
        
       
        <form method="post" action="Connexion">
            <fieldset>
                <legend>Nouveau client</legend>
                <div>
                    <label>Nom:</label>
                </div>
                <div>
                    <input name="Nom" type="text" size="50" value="@Request["Nom"]" />
                </div>
                <div>
                    <label>Prénom:</label>
                </div>
                <div>
                    <input name="Prenom" type="text" size="50" value="@Request["Prenom"]" />
                </div>
                <div>
                    <label>Adresse mail:</label>
                </div>
                <div>
                    <input name="Email" type="text" size="50" value="" />
                </div>
                <div>
                    <label>Mot de passe:</label>
                </div>
                <div>
                    <input name="MDP" type="text" size="50" value="" />
                </div>
                <div>
                    <label>Confirmation Mot De Passe:</label>
                </div>
                <div>
                    <input name="CMDP" type="text" size="50" value="" />
                </div>
                <div>
                    <label>Adresse:</label>
                </div>
                <div>
                    <input name="Adresse" type="text" size="50" value="" />
                </div>
                <div>
                    <label>Code Postal:</label>
                </div>
                <div>
                    <input name="CP" type="text" size="50" value="" />
                </div>
                <div>
                    <label>Date De Naissance:</label>
                </div>
                <div>
                    <input name="DateNaissance" type="text" size="50" value="" />
                </div>
                <div>
                    <label>Numéro de Telephone:</label>
                </div>
                <div>
                    <input name="Telephone" type="text" size="50" value="" />
                </div>
                <div>
                    <label>Numéro de Securité Sociale:</label>
                </div>
                <div>
                    <input name="Secu" type="text" size="50" value="" />
                </div>
                <div>
                    <label>Numéro de Mutuelle:</label>
                </div>
                <div>
                    <input name="Mutu" type="text" size="50" value="" />
                </div>
                <div>
                    <label>&nbsp;</label>
                    <input type="submit" value="Enregistrer" class="submit" />
                </div>
            </fieldset>

        </form>
    </div>
</body>
</html>