@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PharmaWeb</title>
</head>
<body>
    @Html.Partial("~/Views/Client/_Header.cshtml")
    @Html.Partial("~/Views/Client/_Menu.cshtml")
    <div>
        @foreach (var medicament in Medicaments)
        {
            <div>
                <label>image</label>
                @Html.Label(medicament.Nom)<br />
                @Html.Label(medicament.Prix, "€")
                <input type="button" value="Ajout au panier" onclick="location.href='@Url.Action("DetailMedicament", "Client")'" /><br />
                <input type="button" value="Ajout au panier" />
            </div>
        }
    </div>
</body>
</html>