@{
    Layout = null;
    int i = 0;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PharmaWeb</title>
</head>
<body style="margin-left:20%; width:60%">
    @Html.Partial("~/Views/Shared/_Header.cshtml")
    @Html.Partial("~/Views/Shared/_Menu.cshtml")
    <div>
        @foreach (MvcApplication3.Models.Produit produits in ViewData["Produits"] as List<MvcApplication3.Models.Produit>)
        {
            <div style="width:150px">
                <label style="float:left">image</label><br />
                @produits.Nom<br />
                <input type="button" style="float:right" value="Détails" onclick="location.href='@Url.Action("DetailMedicament", "Client")'" />
                @produits.Stock €<br />
                <input type="button" style="width:100%" value="Ajout au panier" />
            </div>
            
            i++;
            if(i==3)
            {
                i=0;
                <br />
            }
        }
    </div>
</body>
</html>