@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PharmaWeb</title>
</head>
<body>
    @Html.Partial("~/Views/Client/_Header.cshtml")
    @Html.Partial("~/Views/Client/_Menu.cshtml")
    <div>
        @foreach (MvcApplication3.Models.Produit produits in ViewData["Produits"] as List<MvcApplication3.Models.Produit>)
        {
           
                <label>image</label>
              <tr> <td>@(produits.Nom)</td>
              <td>@(produits.Stock)</td>

 
                </tr>  
                <input type="button" value="Ajout au panier" onclick="location.href='@Url.Action("DetailMedicament", "Client")'" /><br />
                <input type="button" value="Ajout au panier" />
           
        }
    </div>
</body>
</html>