@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailOrdonnance</title>
</head>
<body>
    @Html.Partial("~/Views/Shared/_Header.cshtml")
    @Html.Partial("~/Views/Shared/_MenuProfil.cshtml")
    <div>
        <fieldset>
            <legend>Ordonnance</legend>
            @using (Html.BeginForm())
            {
                <table>
                    <tr>
                        <td colspan="4">image</td>
                    </tr>
                    <tr>
                        <td>Nom du client</td>
                        <td>@Html.TextBox("nomclient")</td>
                        <td>Nom du médecin</td>
                        <td>@Html.TextBox("nommedecin")</td>
                    </tr>
                    <tr>
                        <td>Prénom du client</td>
                        <td>@Html.TextBox("prenomclient")</td>
                        <td>Prénom du médecin</td>
                        <td>@Html.TextBox("prenommedecin")</td>
                    </tr>
                    <tr>
                        <td>Nombre d'utilisation</td>
                        <td>@Html.TextBox("nbrutilisation")</td>
                        <td>Utilisateion restante</td>
                        <td>@ordonnance.utilisation</td>
                    </tr>
                </table>

                <input type="submit" name="valider" value="Valider" />
            }

        </fieldset>
    </div>
</body>
</html>
